<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="gitlab" value="https://gitlab-registry.maxtld.com/api/v4/projects/12/packages/nuget/index.json" />
        <add key="appstract-maxtld-registery" value="https://gitlab-registry.maxtld.com/api/v4/projects/29/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="%GITLAB_NUGET_USERNAME%" />
            <add key="ClearTextPassword" value="%GITLAB_NUGET_PASSWORD%" />
        </gitlab>
    </packageSourceCredentials>
</configuration>
