steps:
- task: gitversion/setup@0
  displayName: Install GitVersion
  inputs:
    versionSpec: '5.x'
    updateAssemblyInfo: true
        
- task: gitversion/execute@0
  displayName: Determine Version

- script: echo $(imageTag)
  displayName: Show Version
