$page-title-size: 27px;
$text-color-red: #dc3545;
$large-screen-size: 100%;
$medium-screen-size: 96%;
$nav-menu-width: 88px;
$sub-menu-width: 288px;
$total-menu-width: 367px;
$total-buy-credit-menu-width: 907px;
$color-base--white: #FFFFFF;
$color-base--black: #000000;
$color-base--bg-white: #F7F7F7;
$color-neutral--25: #FCFCFD;
$color-neutral--50: #F9FAFB;
$color-neutral--100: #F2F4F7;
$color-neutral--200: #EAECF0;
$color-neutral--300: #D0D5DD;
$color-neutral--400: #98A2B3;
$color-neutral--500: #667085;
$color-neutral--600: #475467;
$color-neutral--700: #344054;
$color-neutral--800: #1D2939;
$color-neutral--900: #101828;
$color-neutral--950: #101828;
$color-error--25: #FDF6F7;
$color-error--50: #FBE8E9;
$color-error--100: #F8D2D4;
$color-error--200: #F4BBBE;
$color-error--300: #F0A5A9;
$color-error--400: #E9787E;
$color-error--500: #E14B53;
$color-error--600: #DA1E28;
$color-error--700: #8C1D18;
$color-error--800: #601410;
$color-error--900: #410E0B;
$color-error--950: #000000;
$color-warning--25: #FFF9F5;
$color-warning--50: #FFF3EA;
$color-warning--100: #FFE6D5;
$color-warning--200: #FFDABF;
$color-warning--300: #FFCDAA;
$color-warning--400: #FFB580;
$color-warning--500: #FF9C55;
$color-warning--600: #FF832B;
$color-warning--700: #CC6922;
$color-warning--800: #9A4F1A;
$color-warning--900: #673511;
$color-warning--950: #4E280D;
$color-successful--25: #F1FCF4;
$color-successful--50: #DCF3E3;
$color-successful--100: #C8EAD2;
$color-successful--200: #B3E1C0;
$color-successful--300: #9FD8AF;
$color-successful--400: #76C58D;
$color-successful--500: #4DB36A;
$color-successful--600: #24A148;
$color-successful--700: #1D813A;
$color-successful--800: #16612B;
$color-successful--900: #0E401D;
$color-successful--950: #0B3016;
$color-primary--25: #FBFAFF;
$color-primary--50: #F2EEFF;
$color-primary--100: #E4DDFF;
$color-primary--200: #D7CDFF;
$color-primary--300: #C9BCFF;
$color-primary--400: #AF9AFF;
$color-primary--500: #9479FF;
$color-primary--600: #7957FF;
$color-primary--700: #5434D0;
$color-primary--800: #381AAD;
$color-primary--900: #250996;
$color-primary--950: #1C008A;
