@import "../Base/variables";
.color-base--white {
    color: $color-base--white !important;
}

.color-base--black {
    color: $color-base--black !important;
}

.color-base--bg-white {
    color: $color-base--bg-white !important;
}

.color-neutral--25 {
    color: $color-neutral--25 !important;
}

.color-neutral--50 {
    color: $color-neutral--50 !important;
}

.color-neutral--100 {
    color: $color-neutral--100 !important;
}

.color-neutral--200 {
    color: $color-neutral--200 !important;
}

.color-neutral--300 {
    color: $color-neutral--300 !important;
}

.color-neutral--400 {
    color: $color-neutral--400 !important;
}

.color-neutral--500 {
    color: $color-neutral--500 !important;
}

.color-neutral--600 {
    color: $color-neutral--600 !important;
}

.color-neutral--700 {
    color: $color-neutral--700 !important;
}

.color-neutral--800 {
    color: $color-neutral--800 !important;
}

.color-neutral--900 {
    color: $color-neutral--900 !important;
}

.color-neutral--950 {
    color: $color-neutral--950 !important;
}


.color-error--25 {
    color: $color-error--25 !important;
}

.color-error--50 {
    color: $color-error--50 !important;
}

.color-error--100 {
    color: $color-error--100 !important;
}

.color-error--200 {
    color: $color-error--200 !important;
}

.color-error--300 {
    color: $color-error--300 !important;
}

.color-error--400 {
    color: $color-error--400 !important;
}

.color-error--500 {
    color: $color-error--500 !important;
}

.color-error--600 {
    color: $color-error--600 !important;
}

.color-error--700 {
    color: $color-error--700 !important;
}

.color-error--800 {
    color: $color-error--800 !important;
}

.color-error--900 {
    color: $color-error--900 !important;
}

.color-error--950 {
    color: $color-error--950 !important;
}


.color-warning--25 {
    color: $color-warning--25 !important;
}

.color-warning--50 {
    color: $color-warning--50 !important;
}

.color-warning--100 {
    color: $color-warning--100 !important;
}

.color-warning--200 {
    color: $color-warning--200 !important;
}

.color-warning--300 {
    color: $color-warning--300 !important;
}

.color-warning--400 {
    color: $color-warning--400 !important;
}

.color-warning--500 {
    color: $color-warning--500 !important;
}

.color-warning--600 {
    color: $color-warning--600 !important;
}

.color-warning--700 {
    color: $color-warning--700 !important;
}

.color-warning--800 {
    color: $color-warning--800 !important;
}

.color-warning--900 {
    color: $color-warning--900 !important;
}

.color-warning--950 {
    color: $color-warning--950 !important;
}

.color-successful--25 {
    color: $color-successful--25 !important;
}

.color-successful--50 {
    color: $color-successful--50 !important;
}

.color-successful--100 {
    color: $color-successful--100 !important;
}

.color-successful--200 {
    color: $color-successful--200 !important;
}

.color-successful--300 {
    color: $color-successful--300 !important;
}

.color-successful--400 {
    color: $color-successful--400 !important;
}

.color-successful--500 {
    color: $color-successful--500 !important;
}

.color-successful--600 {
    color: $color-successful--600 !important;
}

.color-successful--700 {
    color: $color-successful--700 !important;
}

.color-successful--800 {
    color: $color-successful--800 !important;
}

.color-successful--900 {
    color: $color-successful--900 !important;
}

.color-successful--950 {
    color: $color-successful--950 !important;
}

.color-primary--25 {
    color: $color-primary--25 !important;
}

.color-primary--50 {
    color: $color-primary--50 !important;
}

.color-primary--100 {
    color: $color-primary--100 !important;
}

.color-primary--200 {
    color: $color-primary--200 !important;
}

.color-primary--300 {
    color: $color-primary--300 !important;
}

.color-primary--400 {
    color: $color-primary--400 !important;
}

.color-primary--500 {
    color: $color-primary--500 !important;
}

.color-primary--600 {
    color: $color-primary--600 !important;
}

.color-primary--700 {
    color: $color-primary--700 !important;
}

.color-primary--800 {
    color: $color-primary--800 !important;
}

.color-primary--900 {
    color: $color-primary--900 !important;
}

.color-primary--950 {
    color: $color-primary--950 !important;
}
