@attribute [Route(ROUTE)]

<DashboardWrapper>
    <Body>
    <div class="d-flex dashboard__content">
        <div class="app__content--inner my-8 pa-4 dashboard">
        </div>
    </div>
    </Body>
</DashboardWrapper>
